<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="icon" href="resources/img/main-icon.png">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="resources/Bootstrap/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="resources/Bootstrap/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<title>Opera Math</title>
<link rel="stylesheet" href="resources/css/styles.css">
<script src="https://kit.fontawesome.com/aae110173b.js" crossorigin="anonymous"></script>
<script>
    function mostrarContrasena() {
        var contra = document.getElementById("pass");
        if (contra.type == "password") {
            contra.type = "text";
        } else {
            contra.type = "password";
        }
    }
</script>